---
title: 'About | Code Stitch Web Designs'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'about/'
eleventyNavigation:
    key: About Us
    order: 200
---

{% extends "layouts/base.html" %}



{% block body %}
    <section class="contact">
        <img class="profile" src="/assets/img/DSC1093-2.jpg" alt="Profilbild">
        <ul>
            <li><a class="btn" href="tel:+436649272622">+43 664 927 26 22</a></li>
            <li>        <a class="btn" href="mailto:kristinaleitner@gluecrew.net">kristinaleitner@gluecrew.net</a></li>
            <li>        <a class="btn" href="https://goo.gl/maps/xwY1QyCkpWvdSSQq5">Triesterstraße 2, 8020 Graz</a></li>
            </ul>
        <img class="maps" src="/assets/img/maps.jpg" alt="Maps">
    </section>

{% endblock %}
